<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<%# site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>



<body>
  <h2>Testing</h2>
  <div class="super-container full-width" id="section-tophat">
  	<div class="container">
  		<div class="sixteen columns">
  			<span class="tagline">Here is some tagline</span>
  			<div class="five columns omega" style="float: right; height: 18px;" id="tagline">
  				<ul class="social">
  					<li><a target="_blank" href="#"><img src="wp-content/themes/reason/assets/images/theme/social-icons/google_plus_32.png" alt="google" title="Google+"></a></li>
  					<li><a target="_blank" href="#"><img src="wp-content/themes/reason/assets/images/theme/social-icons/twitter_32.png" alt="twitter" title="Twitter"></a></li>
  					<li><a target="_blank" href="#"><img src="wp-content/themes/reason/assets/images/theme/social-icons/facebook_32.png" alt="facebook" title="Facebook"></a></li>
  					<li><a target="_blank" href="#"><img src="wp-content/themes/reason/assets/images/theme/social-icons/youtube_32.png" alt="youtube" title="You Tube"></a></li>
  					<li><a target="_blank" href="#"><img src="wp-content/themes/reason/assets/images/theme/social-icons/vimeo_32.png" alt="vimeo" title="Vimeo"></a></li>
  					<li><a target="_blank" href="#"><img src="wp-content/themes/reason/assets/images/theme/social-icons/pinterest_32.png" alt="pinterest" title="Pinterest"></a></li>
  					<li><a target="_blank" href="#"><img src="wp-content/themes/reason/assets/images/theme/social-icons/skype_32.png" alt="skype" title="Skype"></a></li>
  					<li><a target="_blank" href="feed/index.html"><img src="wp-content/themes/reason/assets/images/theme/social-icons/rss_32.png" alt="RSS" title="RSS"></a></li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>
  
</body>
</html>